@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Tiro+Bangla&display=swap');
:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1em;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
}

$heading-font: 'Tiro Bangla', serif;
$body-font: 'Raleway', sans-serif ;
$primary-color:#907DA1;
$secondary-color: #ec9690;
$accent1: #c7efcf;
$accent2: #60B2E5;
$accent3: #F7B32B;