@use "atoms/_variables" as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ------- NAV ------- */
header {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    ul {
        display: flex;
        flex-direction: row;
        li {
            list-style: none;
            a {
                text-decoration: none;
            }
        }
    }
    
}

.hero {
    background-image: linear-gradient($primary-color, $secondary-color, $accent1);
    color: white;
    padding: 4em;
}



